<footer class="page-footer font-small blue pt-4 bg-dark text-white  ">
    <div class="container-fluid text-center text-md-left">
        <div class="row ">
            <div class="col-md-4 mt-md-0 mt-3 text-center pie-de-pagina border-right">
                <h4 class="text-uppercase mb-3">Información </h4>
                <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
                
                <p class="">
                    <img src="../../../assets/img/iconLog.png" alt="" width="180"/>
                </p>
                <p class="">Soluciones a la mediad de tu negocio</p>
            </div>
            <div class="col-md-4 mt-md-0 mt-3 text-center ">
                <h4 class="">Datos de contacto</h4>
                <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
                
                <p class="">
                    Carera 12 #4-132 Virgen Loma de Oro<br />
                    Puerto Colombia - Atlántico<br />
                    Cel.3004782441 <br/>
                    distribuidoradeladrillosdelaesprella@hotmailo.com<br/>
                </p>
            </div>

           
            <!-- <div class="col-md-4 mb-md-0 mb-3 text-center">
                <h4 class="">
                    Paginas
                </h4>
                <ul class="list-unstyled text-decoration-none">
                    <li>
                        <a href="." class="text-decoration-none">¿Quienes somos?</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Visión</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Misión</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Contactenos</a>
                    </li>
                </ul>
            </div> -->
            <div class="col-md-4 mb-md-0 mb-3 text-center">
                <h4 class="">Redes Sociales</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-reset">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Instagran</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Youtube</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Gogle +</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-custom py-1 ">
        <hr/>
        © {{year}} Copyright:
        <a href="." class="text-reset"> DigitalGex</a>
    </div>
    <!-- Copyright -->

</footer>