<footer class="page-footer font-small blue pt-4 bg-secondary text-white">
    <div class="container-fluid text-center text-md-left">
        <div class="row ">
            <div class="col-md-4 mt-md-0 mt-3 text-center pie-de-pagina border-right">
                <h4 class="text-uppercase mb-3">Información </h4>
                <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
                
                <p class="">
                    <img src="../../../assets/img/icon Ladrillera.2a.ai.png" alt="" class="img-fluid d-block"/>
                </p>
                <p class="">Soluciones a la mediad de tu negocio</p>
            </div>
            <div class="col-md-4 mt-md-0 mt-3 text-center ">
                <h4 class="">Datos de contacto</h4>
                <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
                
                <p class="">
                    Carera 12 #4-132 Virgen de Loma de Oro<br />
                    Puerto Colombia - Atlántico<br />
                    Cel.3004782441 (Whatsapp) <br/>
                    distribuidoradeladrillosdelaesprella@hotmail.com<br/>
                </p>
            </div>

           
            <!-- <div class="col-md-4 mb-md-0 mb-3 text-center">
                <h4 class="">
                    Paginas
                </h4>
                <ul class="list-unstyled text-decoration-none">
                    <li>
                        <a href="." class="text-decoration-none">¿Quienes somos?</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Visión</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Misión</a>
                    </li>
                    <li>
                        <a href="." class="text-decoration-none">Contactenos</a>
                    </li>
                </ul>
            </div> -->
            <div class="col-md-4 mb-md-0 mb-3 text-center">
                <h4 class="">Redes Sociales</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-reset">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Instagran</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Youtube</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset">Gogle +</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-custom pb-3 ">
        <hr />
        Diseñado By 
        <a target="_black"  href="http://www.digitalgex.com.co" class="text-reset"> wwww.digitalgex.com.co</a>
        <br/>Soluciones al alcance de tu manao <br/> 
        Distribuidora de Ladrillos  y Ferretria de La Espriella © {{year}} Copyright
        <br/>

    </div>
    <!-- Copyright -->

</footer>