
  <button  [@salida]="variable"> Hola Mundo Botn</button>
<div class="container">

    <p>home works!</p>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusamus, voluptate eaque tenetur voluptas iusto laborum temporibus numquam optio ut suscipit excepturi! Dolores ipsa ratione delectus accusamus. Veniam, saepe in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sapiente quisquam! Ducimus architecto ad nostrum temporibus maxime! Quaerat veniam explicabo, veritatis suscipit repudiandae rerum, autem ipsa assumenda qui harum quas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo suscipit ex, tempora obcaecati, officia fugiat rem unde reprehenderit vero perferendis, hic aspernatur eos ratione error. Temporibus amet possimus ratione error.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis amet obcaecati neque quo consectetur, rerum inventore. Blanditiis nobis iusto officiis eaque ab minus neque, soluta recusandae, totam deleniti, at dicta?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sit magni natus quis repellat nulla beatae, at impedit cumque architecto quos nisi. Soluta, vero beatae voluptatum consequatur consectetur veniam. Sequi!
    
    </p>
    
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eos, quasi deleniti tempore earum molestias iusto ipsa, ab similique, veniam aspernatur! Consequatur cumque incidunt eum dolores ratione harum quaerat. Dolore.
    </p>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, sint fugiat at, veniam voluptatum debitis eos quibusdam ipsum eum, illum quaerat. Esse aut commodi sint repellat nobis dolore vel perspiciatis.
    </p>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eos, quasi deleniti tempore earum molestias iusto ipsa, ab similique, veniam aspernatur! Consequatur cumque incidunt eum dolores ratione harum quaerat. Dolore.
    </p>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, sint fugiat at, veniam voluptatum debitis eos quibusdam ipsum eum, illum quaerat. Esse aut commodi sint repellat nobis dolore vel perspiciatis.
    </p>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eos, quasi deleniti tempore earum molestias iusto ipsa, ab similique, veniam aspernatur! Consequatur cumque incidunt eum dolores ratione harum quaerat. Dolore.
    </p>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, sint fugiat at, veniam voluptatum debitis eos quibusdam ipsum eum, illum quaerat. Esse aut commodi sint repellat nobis dolore vel perspiciatis.
    </p>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eos, quasi deleniti tempore earum molestias iusto ipsa, ab similique, veniam aspernatur! Consequatur cumque incidunt eum dolores ratione harum quaerat. Dolore.
    </p>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, sint fugiat at, veniam voluptatum debitis eos quibusdam ipsum eum, illum quaerat. Esse aut commodi sint repellat nobis dolore vel perspiciatis.
    </p>
</div>