<p>contactenos works!</p>

<p [@entrada]="'in'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere natus autem quibusdam laudantium quidem, soluta harum ad, id culpa itaque adipisci dolorem deserunt eius quia vitae sunt vel ducimus esse?</p>

<div class="container" >
    <p [@entrada]="'in'">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta velit suscipit itaque sint, amet natus laudantium earum harum corrupti a eum exercitationem dolore accusantium voluptatibus quos iure eligendi quisquam. Dolores!
    </p>
</div>