
<div class="row text-center">
    <div class="col-sm-6">

        <p class="display-4">
            Visiòn 
        </p>
        
        <p class="text-mute"> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque perspiciatis alias maxime dolorem ab omnis ratione possimus. Porro autem, minus voluptatem consequuntur, nemo alias, delectus tempora cupiditate fuga rem et.
        </p>
        
    </div>

    <div class="col-sm-6 ">

        <p class="display-4">
            Misiòn 
        </p>
        
        <p class="text-mute"> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque perspiciatis alias maxime dolorem ab omnis ratione possimus. Porro autem, minus voluptatem consequuntur, nemo alias, delectus tempora cupiditate fuga rem et.
        </p>
        
    </div>
</div>