<nav class="va-sombra navbar navbar-expand-lg navbar-dark bg-primary fixed-top  p-0 m-0">
  <div class="container">

    <a class="navbar-brand m-0 p-0" routerLink=''> <img class="m-1 img-thumbnail" src="../../../assets/img/icon-ladr-ferr.png" /> </a>
  
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <h3>
        &#9776;
      </h3>
    </button>
  
  
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse m-0 p-0">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'" (click)="isMenuCollapsed = true" routerLinkActive="active">Inico </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/quienes-somos'" (click)="isMenuCollapsed = true" routerLinkActive="active">
            Quienes somos </a>
        </li>
        <!-- <li class="nav-item listdes" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button" routerLinkActive="active">
            Productos
          </a>
          <div ngbDropdownMenu aria-labelledby="" class="dropdown-menu bg-primary">
            <a ngbDropdownItem [routerLink]="'/'" (click)="isMenuCollapsed = true">Community Manager</a>
            <a ngbDropdownItem [routerLink]="'/'" (click)="isMenuCollapsed = true">Maketing Digital</a>
            <a ngbDropdownItem [routerLink]="'/'" (click)="isMenuCollapsed = true">Desarrollo de Sofware</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='/contactenos' (click)="isMenuCollapsed = true"
            routerLinkActive="active">Contactenos </a>
        </li>
      </ul>
    
    </div>
   
  </div>
</nav>